*{
    text-align: center;
    font: 15pt Comic Sans MS, Comic Sans, cursive;
    margin: auto;
}

header.cabeca{
    background-image: radial-gradient(#dc7844,#99a9b6);
    padding: 2.5%;
    border-style: double;
}

header.cabeca h1{
    font-size: 2rem;
}

nav.menu{
    width: 100%;
    display: block;
    margin-bottom: -1%;
}

nav.menu div{
    background-color: gray;
    display: inline;
    padding-left: 21.35%;
    padding-right: 21.35%;
    border-style: groove;
    width: 50%;
}

nav.menu div.livros ul.lista{
    position: relative;
    list-style: none;
    display: none;
    border-style: groove;
}

nav.menu div.livros:hover ul.lista{
    background-color: gray;
    display: block;
    position: absolute;
    margin-left: 54.5%;
    padding-left: 15%;
    padding-right: 15%;
}

a{
    text-decoration: none;
    font: 15pt Comic Sans MS, Comic Sans, cursive;
    color: black;
}

section.secao{
    background-image: linear-gradient(to left,#dc7844,#99a9b6);
}

section.secao h2{
    font-size: 1.5rem;
}

section.secao figcaption.imagem legend.legenda{
    font-size: 0.75rem;
}

section.secao div, h2, figcaption, div p{
    margin: 1%;
}

footer.cabeca{
    background-image: radial-gradient(#dc7844,#99a9b6);
    padding: 2.5%;
    margin-top: -1%;
    border-style: double;
}