*{
    text-align: center;
    color: rgb(182, 182, 234, 0.9);
    background-image: linear-gradient(to right, black, blue);
    font: 13pt Comic Sans MS, Comic Sans, cursive;
}

header.cabeca{
    border-style: solid;
    border-radius: 45pt;
    padding: 10pt;
    font-size: 2rem;
}

section.itens{
    font-size: 1.2rem;
}


section.itens div{
    padding: 1%;
    background-image: url(../Images/Harry-Potter-e-a-Camara-Secreta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section.itens div p{
    opacity: 0.78;
}

section.itens legend{
    font-size: 1.35rem;
    text-align: left;
    background-image: linear-gradient(to right, black 100%, rgb(7, 7, 52));
}

footer.rodape{
    padding: 10px;
}