body{
    background-image: linear-gradient(to right, green, white, black);
}

.menu{
    width: 50%;
    height: 50%;
    background-color: darkgreen;
    font: 20pt Comic Sans MS, Comic Sans, cursive;
    border-style: double;
    border-radius: 20pt;
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 5pt;
    box-shadow: 5pt;
}

main{
    border: double;
    border-color: white;
    border-radius: 20pt;
    padding: 5pt;
}

.book{
    display: inline-block;
    width: auto;
    padding: 3.85%;
}

#img1:hover{
    opacity: 0.6;
}

#img2:hover{
    opacity: 0.6;
}

#img3:hover{
    opacity: 0.6;
}