*{
    text-align: center;
    color: rgba(234, 222, 182, 0.9);
    background-image: linear-gradient(to right, black, red);
    font: 13pt Comic Sans MS, Comic Sans, cursive;
}

header.cabeca{
    border-style: solid;
    border-radius: 45pt;
    padding: 10pt;
    font-size: 2rem;
    margin-bottom: 1%;
}


nav.menu{
    width: 100%;
    display: block;
    margin-bottom: -1%;
}

nav.menu div{
    display: inline;
    padding-left: 21.25%;
    padding-right: 21.25%;
    border-style: groove;
    border-radius: 15%;
    width: 50%;
}

nav.menu div.livros ul.lista{
    background-image: none;
    position: relative;
    list-style: none;
    display: none;
    border-style: groove;
    border-radius: 10%;
}

nav.menu div.livros:hover ul.lista{
    display: block;
    position: absolute;
    margin-top: 0%;
    margin-left: 67.75%;
    padding-left: 0%;
    padding-right: 0%;
}

a{
    text-decoration: none;
    background-image: none;
    font: 15pt Comic Sans MS, Comic Sans, cursive;
    color: white;
}

section.itens{
    margin-top: 1%;
    font-size: 1.2rem;
}


section.itens div{
    padding: 1%;
    background-image: url(../Images/Harry-Potter-e-a-Camara-Secreta.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

section.itens div p{
    opacity: 0.78;
}

section.itens legend{
    font-size: 1.35rem;
    text-align: left;
    background-image: linear-gradient(to right, black 100%, rgb(7, 7, 52));
}

footer.rodape{
    padding: 10px;
}